nav {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 8em;
    width: 100%;
    padding: 20px 1em;
    color: var(--white);
    display: flex;
    align-items: center;
    background-color: transparent;

    h1 {
        font-size: 1.3em;
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    >div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .x-btn {
        display: flex;
        gap: .7em;
    }

    .x-controller {
        position: absolute;
        z-index: 3;

        >span {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--white);
            padding: 0.7em;
            border-radius: 50%;
            font-size: 1.1em;

            &:hover {
                cursor: pointer;
                background-color: #333;
            }

            &.active {
                color: var(--white);
                border-color: red;
                background: red;
            }

            >.badge {
                position: absolute;
                right: 7px;
                top: 7px;
                width: 8px;
                height: 8px;
                background-color: #ff3300;
                border-radius: 50%;
            }
        }

        @media (max-width: 768px) {
            right: 110px;
        }

        @media (max-width: 678px) {
            top: 4.5em;
            left: 50%;
            right: auto;
            transform: translateX(-50%);

            >span {
                background-color: rgba(0, 169, 0, 0.5);
            }
        }

        @media (max-width: 506px) {
            top: 4.1em;
        }
    }

    @media (max-width: 506px) {
        padding: 0 .2em;
    }
}

@keyframes badge-animation {
    75% {
        color: #e2fd47;
    }

    100% {
        color: #e2fd47;
    }
}